
html {
    background-color: rgb(30, 30, 30);
}

body {
    margin: 20% 20% 0 20%;
}

#main {
    padding: 4px;
    text-align: center;
    border-radius: 10px;
}

.underweight {
    background-color: rgb(0, 157, 172);
}

.normal {
    background-color: rgb(125, 189, 77);
}

.overweight {
    background-color: rgb(250, 173, 43);
}

.obese {
    background-color: rgb(235, 132, 61);
}

.extremelyObese {
    background-color: rgb(228, 67, 57);
}


h1 {
    font-family: Helvetica, san-serif;
}

#number {
    font-family: Consolas, monospace;
    font-style: normal;
    font-size: 100px;
}

#status {
    font-family: Helvetica, san-serif;
    font-style: normal;
    font-size: 20px;
}

#footer {
    position: absolute;
    bottom: 0px;
    padding: 4px;
    color: lightgray;
    background-color: rgb(79, 79, 79);
}